* {
  box-sizing: border-box;
}

h1, form {
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;  
}

button:hover {
  color: aqua;
  background: blue;
  cursor: pointer;
}